

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
body {
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}
li{
  color: black;
}
h1 
{
  font-size: 30px;
 
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}
img
{
  height: 100%;
  width: 100%;
  object-fit: contain
}

h4 {
  font-family: "Hind" !important; 
  font-size: 14px;
  color: $gray;

}
.date 
{ 
  font-family: "Hind" !important; 
  font-style: italic;
  color: gray;
}
.p {
font-weight:900px;
}
.blog-roll-image
{
  width: 255px;
  height: 188px;
  object-fit: cover;

}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
