<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} Blog</title>

    {% include meta.html %}

    

  <body>
     <div style="padding-top: 100px;"></div>
    <div id="main" role="main" class="container" >
      
      {{ content }}
      
    </div>

    <!-- <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div> -->

  </body>
</html>
